<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>
	<header th:replace="layout/layout :: header"></header>
	<div>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Nombre de granjero</th>
					<th>Dinero</th>
					<th>Cantidad de gallinas</th>
					<th>Cantidad de huevos</th>
					<th>Acciones</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td th:text="${granjero.nombre}"></td>
					<td th:text="${granjero.dinero}"></td>
					<td th:text="${granjero.cantGallinas()}"></td>
					<td th:text="${granjero.cantHuevos()}"></td>
					<td><a class="btn btn-primary btn-sm" th:href="@{'/listarHuevos/' + ${granjero.id}}" th:text="'Ver huevos'"></a><a class="btn btn-primary btn-sm" th:href="@{'/listarGallinas/' + ${granjero.id}}" th:text="'Listar gallinas'"></a></td>
				</tr>
			</tbody>
		</table>
		<div>
		<form th:action="@{'/granja/comprarGallina/' + ${granjero.id}}" th:object="${granjero}">
			<div class="form-group row">
				<div class="col-sm-6">
					<input type="submit" value="Comprar gallina"
						class="btn btn-dark" />
				</div>
				<h4 th:if="${granjero.getDinero() == 0}" th:text="${mensaje}"></h4>
			</div>
			<br>
		</form>
		<form th:action="@{'/granja/venderGallina/' + ${granjero.id}}" th:object="${granjero}">
			<div class="form-group row">
				<div class="col-sm-6">
					<input type="submit" value="Vender gallina"
						class="btn btn-dark" />
				</div>
				<h4 th:if="${granjero.getGallinas().size() == 0}" th:text="${mensaje}"></h4>
			</div>
		</form>
		<form th:action="@{'/granja/diaSiguiente/' + ${granjero.id}}" th:object="${granjero}">
			<div class="form-group row">
				<div class="col-sm-6">
					<input type="submit" value="Dia siguiente"
						class="btn btn-success btn-lg" />
				</div>
				<h4 th:text="${mensajeDiaSiguiente}"></h4>
			</div>
		</form>
		</div>
	</div>
	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>