<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>
	<header th:replace="layout/layout :: header"></header>
	<div>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Nombre de granjero</th>
					<th>Dinero</th>
					<th>Cantidad de gallinas</th>
					<th>Cantidad de huevos</th>
					<th>Acciones</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td th:text="${granjero.nombre}"></td>
					<td th:text="${granjero.dinero}"></td>
					<td th:text="${granjero.cantGallinas()}"></td>
					<td th:text="${granjero.cantHuevos()}"></td>
					<td><a class="btn btn-primary btn-sm ms-1"
						th:href="@{'/listarHuevos/' + ${granjero.id}}"
						th:text="'Ver huevos'"></a>
						<a class="btn btn-primary btn-sm ms-1"
						th:href="@{'/listarGallinas/' + ${granjero.id}}"
						th:text="'Ver gallinas'"></a></td>
				</tr>
			</tbody>
		</table>
		<div class="d-flex justify-content-center">
			<img th:src="@{/imagen/granja.jpg}" alt="huevo" />
		</div>
		<div>
			<div class="d-flex justify-content-center m-2">
				<a type="button" class="btn btn-primary w-50"
					th:href="@{'/tienda/' + ${granjero.id}}" th:text="'Tienda'"></a>
			</div>
			<div >
				<div class="d-flex justify-content-center m-2">
					<a type="button" class="btn btn-success w-50"
						th:href="@{'/granja/diaSiguiente/' + ${granjero.id}}"
						th:text="'Dia siguiente'"></a>
				</div>
				<div class="d-flex justify-content-center">
				<div th:if="${mensajeDiaSiguiente}" th:text="${mensajeDiaSiguiente}"
					class="alert alert-info d-flex justify-content-center w-75" role="alert"></div>
					</div>
			</div>
		</div>
	</div>
	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>