<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>
	<header th:replace="layout/layout :: header"></header>
	<div>
		<div class="d-flex justify-content-center">
			<img th:src="@{/imagen/granja.jpg}" alt="huevo" />
		</div>
		<div class="card">
			<div class="d-flex justify-content-center">
				<form th:action="@{/index}" th:object="${granjero}" method="post"
					class="needs-validation">
					<div class="">
						<label class="">Nombre de granjero</label>
						<div class="">
							<input type="text" th:field="*{nombre}" class="form-control"
								id="validationCustomNombre" aria-describedby="inputGroupPrepend"
								required />
						</div>
					</div>
					<div class="d-flex justify-content-center">
						<div class="">
							<input type="submit" value="Crear Granjero"
								class="btn btn-success w-100" />
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>