<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>
	<header th:replace="layout/layout :: header"></header>
	<div>
		<div>
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Nombre Granjero</th>
						<th>Dinero</th>
						<th>Cantidad de Gallinas</th>
						<th>Cantidad de Huevos</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td th:text="${granjero.nombre}"></td>
						<td th:text="${granjero.dinero}"></td>
						<td th:text="${granjero.cantGallinas()}"></td>
						<td th:text="${granjero.cantHuevos()}"></td>
						<td></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div>
			<h3>Gallina</h3>
			<div>
				<img th:src="@{/imagen/gallina.png}" alt="gallina" width="200px" height="200px"/>
			</div>
			<div display="inline-block">
			<form th:action="@{'/granja/comprarGallina/' + ${granjero.id}}"
				th:object="${granjero}">
				<div class="form-group row">
					<div class="col-sm-6">
						<input type="submit" value="Comprar gallina" class="btn btn-dark" />
					</div>
					<h4 th:if="${granjero.getDinero() == 0}" th:text="${mensaje}"></h4>
				</div>
				<br>
			</form>
			<form th:action="@{'/granja/venderGallina/' + ${granjero.id}}"
				th:object="${granjero}">
				<div class="form-group row">
					<div class="col-sm-6">
						<input type="submit" value="Vender gallina" class="btn btn-dark" />
					</div>
					<h4 th:if="${granjero.getGallinas().size() == 0}"
						th:text="${mensaje}"></h4>
				</div>
			</form>
			</div>
		</div>
		<div>
			<h3>Huevo</h3>
			<div>
				<img th:src="@{/imagen/huevo.png}" alt="huevo" width="150px" height="150px"/>
			</div>
			<form th:action="@{'/granja/comprarGallina/' + ${granjero.id}}"
				th:object="${granjero}">
				<div class="form-group row">
					<div class="col-sm-6">
						<input type="submit" value="Comprar gallina" class="btn btn-dark" />
					</div>
					<h4 th:if="${granjero.getDinero() == 0}" th:text="${mensaje}"></h4>
				</div>
				<br>
			</form>
			<form th:action="@{'/granja/venderGallina/' + ${granjero.id}}"
				th:object="${granjero}">
				<div class="form-group row">
					<div class="col-sm-6">
						<input type="submit" value="Vender gallina" class="btn btn-dark" />
					</div>
					<h4 th:if="${granjero.getGallinas().size() == 0}"
						th:text="${mensaje}"></h4>
				</div>
			</form>
		</div>
	</div>
	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>